.line{
  margin-top: 15px !important;
  padding-top: 15px !important;
  border-top: 1px solid #cccccc !important;
}
.space{
  margin-top: 5px !important;
}

.form-group.tile{
  background: #f1f1f1;
  padding: 8px 17px 12px;
  border-radius: 7px;
  border: 1px solid transparent;
}

.ltr-datepicker ~ ul{
  direction: ltr !important;
  min-width: 296px !important;
  padding: 5px !important;
}
