.line{
  margin-top: 15px !important;
  padding-top: 15px !important;
  border-top: 1px solid #cccccc !important;
}
.space{
  margin-top: 5px !important;
}

.form-group.tile{
  background: #f1f1f1;
  padding: 8px 17px 12px;
  border-radius: 7px;
  border: 1px solid transparent;
}

.ltr-datepicker ~ ul{
  direction: ltr !important;
  min-width: 296px !important;
  padding: 5px !important;
}

.navbar-inverse.navbar-custom{
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background: linear-gradient(to bottom, #333, #000);
  a{
    color: #999;

  }
}
.breadcrumb.bottom{
  position: fixed;
  width: 100%;
  margin: 0;
  bottom: 0;
  z-index: 99;
  border-top: 1px solid #ccc;
  border-radius: 0;
  background: linear-gradient(to bottom, #333, #000);
  a{
    color: #999;

  }
}
body{
  padding-bottom: 35px;
  background: url('/images/bg.jpg');
  background-size: 400px;
}

.container-fluid{
  padding: 0;
}

h1{
  padding: 15px 20px;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #111;
  border-bottom: 1px solid #666;
  .btn-group{
    float: left;
    margin-top: 4px;
  }
}
form.row{
  margin: 10px 30px;
  padding: 20px;
}
.form-group.tile {
  background: #fefefe;
  padding: 8px 17px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 10px -10px;
  box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.2);
}
