<div class="camera-container clearfix">
  <div class="camera-wrapper">
    <div class="camera-close" ng-click="close()"><i class="fa fa-times-circle-o"></i></div>
    <div ng-show="uploadedImage" class="camera-overlay" style=" background-image: url({{uploadedImage}}); ">\
      <div class="camera-messages">
        <p ng-hide="isLoaded">Loading Camera...</p>

        <p ng-show="noCamera">Couldn\'t find a camera to use</p>
      </div>
    </div>
    <video ng-hide="uploadedImage" class="camera-feed" id="ng-camera-feed" autoplay width="640" height="480"
           ng-src="{{videoStream}}">Install Browser\'s
      latest version
    </video>
    <canvas id="ng-photo-canvas" width="640" height="480" style="display:none;"></canvas>
  </div>
  <div class="camera-controls" ng-hide="hideUI">
    <button class="ng-camera-take-btn" ng-hide="uploadedImage" ng-click="takePicture()"><i class="fa fa-camera"></i></button>
    <button class="ng-camera-take-btn" ng-show="uploadedImage" ng-click="retakePicture()"><i class="fa fa-undo"></i></button>
  </div>
</div>

