<div>
  <div class="modal-header">
    <h3 class="modal-title"> בחר את סוג הייצוא אותו תרצה להעתיק
    </h3>
  </div>
  <div class="modal-body">

    <div class="btn-group-vertical" role="group" ng-init="getExportTables()">
      <a ng-repeat="exportBtn in exportTables"
         class="btn btn-default" style="width:100%;" href="" clip-copy="getHtmlToCopy(exportBtn.target, $index)"
         clip-copy-mime-type="text/plain"><i class="fa fa-check" ng-show="copiedTable==$index"></i><i class="fa fa-refresh fa-spin" ng-show="waitingTable==$index"></i> {{exportBtn.name}} </a>
    </div>

    <div class="alert alert-danger" role="alert" style="margin: 20px 0 0; text-align: center;">
      שימו לב! על מנת לשמור את הטופס שנוצר יש לפתוח מסמך אקסל וללחוץ Ctrl+V להדבקת התוכן.
    </div>
  </div>

  <div class="modal-footer" ng-showa="copied">
    <a class="btn btn-default" ng-href="http://spreadsheets.google.com/ccc?new&hl=he" target="_blank">יצירת מסמך אקסל
      חדש</a>
    <button class="btn btn-warning" ng-click="cancel()">סיום</button>
  </div>
</div>
