<div class="media list-item">
  <div class="media-left" ng-show="item.small_image">
    <a ng-href="{{link}}" class="thumbnail" style="margin: 0;">
      <img class="media-object" ng-src="{{item.small_image}}" height="64" width="64">
    </a>
  </div>
  <div class="media-body">
    <a ng-href="{{link}}">
      <h4 class="list-group-item-heading" ng-bind="item.name || item.modelCode || item.orderId">
        <i class="fa fa-chevron-circle-left"></i>
      </h4>
    </a>

    <a ng-href="{{link}}">
      <p class="list-group-item-text">
        {{item.desc || item.price || item.conversion }}
      </p>
    </a>

  </div>
  <div class="list-buttons btn-group" ng-show="item.pos" role="group">
    <a class="btn btn-default fa fa-arrow-up" ng-click="moveItemUp(item)"></a>
    <a class="btn btn-default fa fa-arrow-down" ng-click="moveItemDown(item)"></a>
    <a class="btn btn-default fa fa-chevron-circle-left" ng-href="{{link}}"></a>
  </div>
</div>
