<h1>Donations</h1>
<button class="btn btn-default" ng-click="addItem()">New Donation</button>

<ul class="nav nav-pills" ng-init="activeFilter = 'new'">
    <li ng-class="{active: (activeFilter == 'new')}"><a ng-click="activeFilter = 'new'">New Items</a></li>
    <li ng-class="{active: (activeFilter == 'given')}"><a ng-click="activeFilter = 'given'">Given Items</a></li>
    <li ng-class="{active: (activeFilter == 'media')}"><a ng-click="activeFilter = 'media'">Given Items with Media</a></li>
</ul>

<ul class="media-list">
    <li class="media line" ng-repeat="item in items" ng-if="item && ((!item.given && activeFilter=='new') || (item.given && activeFilter=='given') || (item.media && item.given && activeFilter=='media'))">
        <a class="pull-left thumbnail" ng-href="{{item.media.link}}" target="_blank">
            <img ng-if="item.media.type=='im'" class="media-object" ng-src="{{item.media.image}}" width="256"/>
            <video ng-if="item.media.type=='vd'" class="media-object" width="256" controls="">
                <source ng-src="{{trustUrl(item.media.video)}}" type="video/mp4">
            </video>
        </a>
        <div class="media-body">
            <div class="media-wrapper btn-group space">
                <button class="btn btn-default" ng-click="updateItem(item)">SAVE</button>
                <button class="btn btn-default" ng-click="removeItem(item)">REMOVE</button>
                <button class="btn btn-default" ng-click="giveItem(item)">MARK GIVEN</button>
            </div>
            <div class="media-wrapper input-group input-group-sm space">
                <span class="input-group-addon">Treat [{{item.treat.name}}]</span>
                <select class="form-control" ng-model="item.treat" >
                    <option ng-repeat="treat in treats" ng-selected="(treat._id==item.treat._id)" value="{{treat._id}}" >{{treat.name}}</option>
                </select>
            </div>
            <div class="media-wrapper input-group input-group-sm space">
                <span class="input-group-addon">Pet [{{item.pet.name}}]</span>
                <select class="form-control" ng-model="item.pet" >
                    <option ng-repeat="pet in pets" ng-selected="pet._id==item.pet._id" value="{{pet._id}}" >{{pet.name}}</option>
                </select>
            </div>
            <div class="media-wrapper input-group input-group-sm space">
                <span class="input-group-addon">User [{{item.user.name}}]</span>
                <select class="form-control" ng-model="item.user">
                    <option ng-repeat="user in users" ng-selected="user._id==item.user._id" value="{{user._id}}" >{{user.name}}</option>
                </select>
            </div>
            <div class="media-wrapper input-group input-group-sm space">
                <span class="input-group-addon">Media</span>
                <select class="form-control" ng-model="item.media._id">
                    <option value="{{item.media._id}}" selected="selected">{{item.media._id}}</option>
                    <option ng-repeat="media in medias" ng-if="media._id!=item.media._id" value="{{media._id}}" >{{media._id}}</option>
                </select>
            </div>
            <div class="media-wrapper input-group input-group-sm space" ng-repeat="(key, val) in item">
                <span class="input-group-addon">{{key}}</span>
                <input type="text" class="form-control" ng-model="item[key]" value="{{val}}"/>
            </div>
        </div>
    </li>
</ul>