<h1>אלמנטים</h1>
<button class="btn btn-default" ng-click="addItem()">New Element</button>
<button class="btn btn-default" ng-click="duplicateForTest()">Duplicate For Test</button>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <dynamic-filter
          model="desc"
          type="textarea"
          name="תיאור"
          desc="תיאור האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="createdAt"
          range="above"
          type="date"
          name="תאריך הקמה"
          desc="תאריך הקמת האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="createdAt"
          range="below"
          type="date"
          name="תאריך הקמה"
          desc="תאריך הקמת האלמנט">
        </dynamic-filter>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <ul class="media-list">
      <li ng-repeat="item in items | listFilter track by $index">
        <list-item item="item" path="elements" addto="addTo"></list-item>
      </li>
    </ul>
  </div>
</div>
