<h1>אלמנטים
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-success" ng-click="addItem()"><i
      class="fa fa-fw fa-plus"></i> צור אלמנט חדש
    </button>
    <button class="btn btn-danger" ng-click="clearForm()"><i
      class="fa fa-fw fa-undo"></i> נקה טופס
    </button>
    <button class="btn btn-disabled" ng-click="duplicateForTest()"><i
      class="fa fa-fw fa-bug"></i> בדיקת עומסים
    </button>
  </div>
  <div style="clear:both;"></div>
</h1>
<form class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
        <dynamic-filter
          model="elementType"
          type="select"
          options="elementTypes"
          name="סוג"
          desc="סוג האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="name"
          type="text"
          name="שם"
          desc="שם האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="desc"
          type="textarea"
          name="תיאור"
          desc="תיאור האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="createdAt"
          range="above"
          type="date"
          name="תאריך הקמה"
          desc="תאריך הקמת האלמנט המינימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="createdAt"
          range="below"
          type="date"
          name="תאריך הקמה"
          desc="תאריך הקמת האלמנט המקסימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="model"
          type="parent"
          options="models"
          name="מופיע בדגם"
          desc="שם הדגם בו מופיע האלמנט">
        </dynamic-filter>
      </div>
      <div class="col-sm-4">
        <dynamic-filter
          model="provider"
          type="select"
          options="providers"
          name="ספק"
          desc="שם הספק">
        </dynamic-filter>
        <dynamic-filter
          model="material"
          type="select"
          options="materials"
          name="חומר"
          desc="החומר ממנו עשוי האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="coating"
          type="select"
          options="coatings"
          name="ציפוי"
          desc="ציפוי האלמנט">
        </dynamic-filter>
        <dynamic-filter
          model="elementFeatures"
          type="select"
          options="elementFeatures"
          name="תכונות"
          desc="תכונות נוספות של האלמנט">
        </dynamic-filter>
      </div>
      <div class="col-sm-4">
        <dynamic-filter
          model="length"
          range="above"
          type="number"
          name="אורך"
          desc="אורך האלמנט המינימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="length"
          range="below"
          type="number"
          name="אורך"
          desc="אורך האלמנט המקסימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="width"
          range="above"
          type="number"
          name="רוחב"
          desc="רוחב האלמנט המינימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="width"
          range="below"
          type="number"
          name="רוחב"
          desc="רוחב האלמנט המקסימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="thickness"
          range="above"
          type="number"
          name="עובי"
          desc="אורך האלמנט המינימאלי">
        </dynamic-filter>
        <dynamic-filter
          model="thickness"
          range="below"
          type="number"
          name="עובי"
          desc="עובי האלמנט המקסימאלי">
        </dynamic-filter>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="list-container row">
      <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: isSortedBy('name')}"><a ng-click="sortBy('name')">שם</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('createdAt')}"><a ng-click="sortBy('createdAt')">תאריך
          הקמה</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('updatedAt')}"><a ng-click="sortBy('updatedAt')">תאריך
          עדכון אחרון</a></li>
      </ul>
      <div class="media-list">
        <div ng-repeat="item in items | listFilter | orderBy:sort track by $index">
          <list-item item="item" path="elements" addto="addTo"></list-item>
        </div>
      </div>
    </div>
  </div>
</form>
