<h1 xmlns="http://www.w3.org/1999/html">Element</h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.name"
                   type="textarea"
                   options=""
                   name="שם התכונה"
                   desc="שם התכונה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.price"
                   type="number"
                   options=""
                   name="מחיר"
                   desc="מחיר התכונה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.measureUnit"
                   type="select"
                   options="measureUnits"
                   name="יחידת מדידה"
                   desc="יחידת המדידה לתמחור">
    </dynamic-input>
  </div>


  <item-actions></item-actions>
</form>
