<h1>Users</h1>
<button class="btn btn-default" ng-click="addItem()">New Element</button>
<ul class="media-list">
    <li class="media line" ng-repeat="item in items">
      <a ng-href="#/elements/{{item._id}}" >
<!--
        <a class="pull-left thumbnail" ng-href="http://www.facebook.com/{{item.fb_id}}" target="_blank">
            <img class="media-object" ng-src="{{item.image}}?type=large" width="256"/>
        </a>
-->

        <div class="media-body">
          Element Data
          {{item.desc}}
        </div>
      </a>
      <hr/>
    </li>
</ul>
