<h1>Kennels</h1>
<button class="btn btn-default" ng-click="addItem()">New Kennel</button>
<ul class="media-list">
    <li class="media line" ng-repeat="item in items">
        <div class="media-body">
            <div class="media-wrapper input-group input-group-sm space" ng-repeat="(key, val) in item">
                <span class="input-group-addon">{{key}}</span>
                <input type="text" class="form-control" ng-model="item[key]" value="{{val}}"/>
            </div>
            <div class="media-wrapper btn-group space">
                <button class="btn btn-default" ng-click="updateItem($index)">SAVE</button>
                <button class="btn btn-default" ng-click="removeItem($index)">REMOVE</button>
            </div>
        </div>
    </li>
</ul>