<h1 xmlns="http://www.w3.org/1999/html">חומר <item-actions></item-actions></h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.name"
                   type="textarea"
                   options=""
                   name="שם"
                   desc="שם החומר">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.price"
                   type="number"
                   options=""
                   name="מחיר לאונקייה"
                   desc="מחיר החומר לאונקייה">
    </dynamic-input>
  </div>


</form>
