<h1>חומרים
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-success" ng-click="addItem()"><i
      class="fa fa-plus fa-fw"></i> הוסף חומר חדש
    </button>
  </div>
  <div style="clear:both;"></div>
</h1>
<form class="row">
  <div class="col-sm-4">

    <ul class="media-list">
      <li ng-repeat="item in items | orderBy:'pos'">
        <list-item item="item" path="materials"></list-item>
      </li>
    </ul>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <iframe src="http://www.coininfo.com/TickerWidgets/NarrowLiveSpotWhite.html" style="border:0px #FFFFFF none;"
            name="coinInfoNarrowLiveSpotWhiteTicker" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px"
            height="127px" width="186px"></iframe>
  </div>
</form>
