<h1>דגמים
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-success" ng-click="addItem()"><i
      class="fa fa-plus fa-fw"></i> צור דגם חדש
    </button>
    <button class="btn btn-danger" ng-click="clearForm()"><i
      class="fa fa-undo fa-fw "></i> נקה טופס
    </button>
  </div>
  <div style="clear:both;"></div>
</h1>
<form class="row">
  <div class="col-sm-4">
    <div class="row">
      <dynamic-filter
        model="modelType"
        type="text"
        name="סוג המודל"
        desc="אות המייצגת את סוג המודל">
      </dynamic-filter>
      <dynamic-filter
        model="modelId"
        type="text"
        name="קוד המודל"
        desc="מספר המייצג את קוד המודל">
      </dynamic-filter>
      <dynamic-filter
        model="desc"
        type="textarea"
        name="תיאור"
        desc="תיאור המודל">
      </dynamic-filter>
      <dynamic-filter
        model="engDesc"
        type="textarea"
        name="תיאור באנגלית"
        desc="תיאור באנגלית">
      </dynamic-filter>
      <dynamic-filter
        model="comments"
        type="textarea"
        name="הערות"
        desc="הערות שונות">
      </dynamic-filter>
      <dynamic-filter
        model="createdAt"
        range="above"
        type="date"
        name="תאריך הקמה"
        desc="תאריך הקמת המודל המינימאלי">
      </dynamic-filter>
      <dynamic-filter
        model="createdAt"
        range="below"
        type="date"
        name="תאריך הקמה"
        desc="תאריך הקמת המודל המקסימאלי">
      </dynamic-filter>
      <dynamic-filter
        model="order"
        type="parent"
        options="orders"
        name="מופיע בהזמנה"
        desc="שם ההזמנה בה מופיע הדגם">
      </dynamic-filter>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <div class="list-container row">
      <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: isSortedBy('name')}"><a ng-click="sortBy('name')">שם</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('createdAt')}"><a ng-click="sortBy('createdAt')">תאריך
          הקמה</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('updatedAt')}"><a ng-click="sortBy('updatedAt')">תאריך
          עדכון אחרון</a></li>
      </ul>
      <div class="media-list">
        <div ng-repeat="item in items | listFilter | orderBy:sort track by $index">
          <list-item item="item" path="models" addto="addTo"></list-item>
        </div>
      </div>
    </div>
  </div>
</form>
