<h1 xmlns="http://www.w3.org/1999/html">{{item.name || 'דגם'}}
  <item-actions></item-actions>
</h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.image"
                   type="image"
                   options=""
                   name=""
                   desc="לחץ על התמונה לצילום">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.modelType"
                   type="text"
                   name="סוג הדגם"
                   desc="אות המתארת את סוג הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.modelId"
                   type="text"
                   name="מספר סידורי"
                   desc="המספר הסידורי של הדגם"
                   placeholder="item.modelId">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.desc"
                   type="textarea"
                   options=""
                   name="תיאור"
                   desc="תיאור הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.engDesc"
                   type="textarea"
                   options=""
                   name="תיאור באנגלית"
                   desc="תיאור הדגם באנגלית">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.comments"
                   type="textarea"
                   options=""
                   name="הערות"
                   desc="הערות שונות">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.createdAt"
                   type="date"
                   locked="locked"
                   name="תאריך הקמה"
                   desc="תאריך הקמת הדגם בתוכנה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.updatedAt"
                   type="date"
                   locked="locked"
                   name="תאריך עדכון אחרון"
                   desc="תאריך העדכון האחרון של הדגם בתוכנה">
    </dynamic-input>

    <!--<input type="hidden" ng-model="item.name" value="{{item.modelType}}{{item.modelId}}"/>-->

    <!--image: { type: String, default:' ', required: false },-->

  </div>
  <div class="col-sm-6">
    <div class="list-container row">
      <div class="media-list">
        <div ng-repeat="element in elements track by $index">
          <div class="media list-item">
            <div class="media-left">
              <input type="number" ng-model="element.amount"/>
              <i class="fa fa-times fa-fw"></i>
            </div>
            <div class="media-left">
              <a class="thumbnail" ng-href="#/elements/{{element._id}}" style="margin: 0;">
                <img class="media-object" style="height: 64px" ng-src="{{element.image || noimage}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="list-group-item-heading" ng-bind="element.name">
              </h4>

              <p class="list-group-item-text">
                {{element.desc}}
              </p>


            </div>
            <div class="list-buttons btn-group" role="group">
              <a class="btn btn-default fa fa-trash" ng-click="removeElement(element)"></a>
              <a class="btn btn-default fa fa-times" ng-click="zeroElement(element)"></a>
              <a class="btn btn-default fa fa-chevron-circle-left" ng-href="#/elements/{{element._id}}"></a>
            </div>
          </div>

        </div>
        <a class="btn btn-success" style="width: 100%;" href="#/elements?addTo={{item._id}}">
          <i class="fa fa-plus fa-fw"></i>
          הוסף אלמנט</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">

    <dynamic-input item="item"
                   model="item.requiredTime"
                   type="number"
                   name="זמן השחלה בדקות"
                   desc="הזמן (בדקות) הנדרש להכנת הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.weight"
                   type="number"
                   name="משקל ברוטו"
                   desc="המשקל ברוטו (בגרם) של הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="modelWeight()"
                   locked="locked"
                   type="number"
                   name="משקל נטו"
                   desc="המשקל נטו של כל האלמנטים שבדגם">
    </dynamic-input>

    <dynamic-input item="item"
                   model="item.salePrice"
                   type="number"
                   name="מחיר מכירה"
                   desc="המחיר בו הדגם נמכר">
    </dynamic-input>
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <span class="list-cost">{{modelCost()}} <i class="fa fa-ils"></i></span>
        עלות כוללת
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{materialCost}} <i class="fa fa-ils"></i></span>
        עלות חומרים
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{coatingCost}} <i class="fa fa-ils"></i></span>
        עלות ציפוי
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{elementFeatureCost}} <i class="fa fa-ils"></i></span>
        עלות תכונות נוספות
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{providerWorkCost}} <i class="fa fa-ils"></i></span>
        עלות עבודת ספק
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{workCost}} <i class="fa fa-ils"></i></span>
        עלות השחלה
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="price in prices">
        <span class="list-cost">
          <input class="list-cost" ng-model="price.newPrice" placeholder="{{price.price || price.conversion}}"/>
               <i class="fa fa-{{price.icon | lowercase}}"></i>
        </span>
        {{price.fullname}}
      </li>
    </ul>
  </div>

</form>
