<h1 xmlns="http://www.w3.org/1999/html">דגם</h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.desc"
                   type="textarea"
                   options=""
                   name="תיאור"
                   desc="תיאור האלמנט">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.requiredTime"
                   type="number"
                   name="זמן השחלה"
                   desc="הזמן (בדקות) הנדרש להכנת הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.weight"
                   type="number"
                   name="משקל"
                   desc="המשקל ברוטו (בגרם) של הדגם">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.salePrice"
                   type="number"
                   name="מחיר מכירה"
                   desc="המחיר בו בדגם נמכר">
    </dynamic-input>

    <!--image: { type: String, default:' ', required: false },-->

  </div>

<item-actions></item-actions>
</form>
