<h1>חיפוש הזמנה
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-success" ng-click="addItem()"><i
      class="fa fa-plus fa-fw"></i> הוסף הזמנה חדשה
    </button>
    <button class="btn btn-warning" ng-click="clearForm()"><i
      class="fa fa-undo fa-fw "></i> נקה טופס
    </button>
    <button class="btn btn-danger" ng-click="deleteUnnamedItems()"><i
      class="fa fa-warning fa-fw"></i> מחק פריטים ללא שם
    </button>
  </div>
  <div style="clear:both;"></div>
</h1>
<form class="row">
  <div class="col-sm-3">
    <dynamic-filter
      model="name"
      type="text"
      name="קוד ההזמנה"
      desc="קוד ההזמנה">
    </dynamic-filter>
    <dynamic-filter
      model="desc"
      type="textarea"
      name="תיאור"
      desc="תיאור ההזמנה">
    </dynamic-filter>
    <dynamic-filter
      model="engDesc"
      type="textarea"
      name="תיאור באנגלית"
      desc="תיאור באנגלית">
    </dynamic-filter>
    <dynamic-filter
      model="comments"
      type="textarea"
      name="הערות"
      desc="הערות שונות">
    </dynamic-filter>
  </div>
  <div class="col-sm-3">
    <dynamic-filter
      model="createdAt"
      range="above"
      type="date"
      name="תאריך הקמה"
      desc="תאריך הקמת ההזמנה המינימאלי">
    </dynamic-filter>
    <dynamic-filter
      model="createdAt"
      range="below"
      type="date"
      name="תאריך הקמה"
      desc="תאריך הקמת ההזמנה המקסימאלי">
    </dynamic-filter>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5">
    <div class="list-container row">
      <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: isSortedBy('name')}"><a ng-click="sortBy('name')">שם</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('createdAt')}"><a ng-click="sortBy('createdAt')">תאריך
          הקמה</a></li>
        <li role="presentation" ng-class="{active: isSortedBy('updatedAt')}"><a ng-click="sortBy('updatedAt')">תאריך
          עדכון אחרון</a></li>
      </ul>
      <div class="media-list">
        <div ng-repeat="item in items | listFilter | orderBy:sort:desc track by item._id">
          <list-item item="item" path="orders" addto="addTo"></list-item>
        </div>
      </div>
    </div>
  </div>
</form>
