<h1 xmlns="http://www.w3.org/1999/html">הזמנה <item-actions></item-actions></h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.name"
                   type="text"
                   name="קוד ההזמנה"
                   desc="קוד המתאר את ההזמנה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.desc"
                   type="textarea"
                   options=""
                   name="תיאור"
                   desc="תיאור ההזמנה">
    </dynamic-input>

    <!--image: { type: String, default:' ', required: false },-->

  </div>




  <div class="col-sm-6">
    <div class="media-list">
      <div ng-repeat="model in models track by $index">
        <div class="media list-item">
          <div class="media-left">
            <input type="number" ng-model="model.amount"/>
            <i class="fa fa-times fa-fw"></i>
          </div>
          <div class="media-left">
            <a class="thumbnail" style="margin: 0;">
              <img class="media-object" style="height: 64px" ng-src="{{model.image || noimage}}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="list-group-item-heading" ng-bind="model.name">
            </h4>

            <p class="list-group-item-text">
              {{model.desc}}
            </p>


            <div class="list-buttons btn-group" role="group">
              <a class="btn btn-default fa fa-trash" ng-click="removeModel(model)"></a>
              <a class="btn btn-default fa fa-times" ng-click="zeroModel(model)"></a>
              <a class="btn btn-default fa fa-external-link" ng-href="#/models/{{model._id}}"></a>

            </div>
          </div>
        </div>

      </div>
      <a class="btn btn-success" style="width: 100%;" href="#/models?addTo={{item._id}}">
        <i class="fa fa-plus fa-fw"></i>
        הוסף דגם</a>
    </div>
  </div>
  <div class="col-sm-3">

    <ul class="list-group">
      <li class="list-group-item">
        <span class="list-cost">{{orderCost()}} <i class="fa fa-ils"></i></span>
        עלות כוללת
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{materialCost}} <i class="fa fa-ils"></i></span>
        עלות חומרים
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{coatingCost}} <i class="fa fa-ils"></i></span>
        עלות ציפוי
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{elementFeatureCost}} <i class="fa fa-ils"></i></span>
        עלות תכונות נוספות
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{providerWorkCost}} <i class="fa fa-ils"></i></span>
        עלות עבודת ספק
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{workCost}} <i class="fa fa-ils"></i></span>
        עלות השחלה
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="price in prices">
        <span class="list-cost">
          <input class="list-cost" ng-model="price.newPrice" placeholder="{{price.price || price.conversion}}"/>
               <i class="fa fa-ils"></i>
        </span>
        {{price.name}}
      </li>
    </ul>

  </div>

</form>



