<h1 xmlns="http://www.w3.org/1999/html">{{item.name || 'הזמנה'}}
  <item-actions></item-actions>
</h1>
<form role="form" class="row">
  <div class="col-sm-3">
    <dynamic-input item="item"
                   model="item.name"
                   type="text"
                   name="קוד ההזמנה"
                   desc="קוד המתאר את ההזמנה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.desc"
                   type="textarea"
                   options=""
                   name="תיאור"
                   desc="תיאור ההזמנה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.engDesc"
                   type="textarea"
                   options=""
                   name="תיאור באנגלית"
                   desc="תיאור באנגלית">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.comments"
                   type="textarea"
                   options=""
                   name="הערות"
                   desc="הערות שונות">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.createdAt"
                   type="date"
                   locked="locked"
                   name="תאריך הקמה"
                   desc="תאריך הקמת ההזמנה בתוכנה">
    </dynamic-input>
    <dynamic-input item="item"
                   model="item.updatedAt"
                   type="date"
                   locked="locked"
                   name="תאריך עדכון אחרון"
                   desc="תאריך העדכון האחרון של ההזמנה בתוכנה">
    </dynamic-input>

    <!--image: { type: String, default:' ', required: false },-->

  </div>


  <div class="col-sm-5">
    <div class="list-container row">
      <div class="media-list">
        <div ng-repeat="model in models | orderBy:'pos' track by model._id ">
          <div class="media list-item">
            <div class="media-left">
              <input type="number" ng-model="model.amount"/>
              <i class="fa fa-times fa-fw"></i>
            </div>
            <div class="media-left">
              <a class="thumbnail" ng-href="#/models/{{model._id}}" style="margin: 0;">
                <img class="media-object" style="height: 64px" ng-src="{{model.image || noimage}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="list-group-item-heading" ng-bind="model.name">
              </h4>

              <p class="list-group-item-text">
                {{model.desc}}
              </p>


            </div>
            <div class="list-buttons btn-group" role="group">
              <a class="btn btn-default fa fa-arrow-up" ng-show="(model.pos > 0)" ng-click="moveItem(model, -1)"></a>
              <a class="btn btn-default fa fa-arrow-down" ng-show="(model.pos < (models.length-1))"
                 ng-click="moveItem(model, 1)"></a>
              <a class="btn btn-default fa fa-trash" ng-click="removeModel(model)"></a>
              <a class="btn btn-default fa fa-times" ng-click="zeroModel(model)"></a>
              <a class="btn btn-default fa fa-search" ng-href="#/models/{{model._id}}"></a>
            </div>
          </div>

        </div>
        <a class="btn btn-success" style="width: 100%;" href="#/models?addTo={{item._id}}">
          <i class="fa fa-plus fa-fw"></i>
          הוסף דגם</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">

    <dynamic-input item="item"
                   model="item.salePrice"
                   type="number"
                   options=""
                   name="מחיר מכירה"
                   desc="מחיר מכירה של ההזמנה כולה">
    </dynamic-input>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="price in prices">
        <span class="list-cost">
          <input class="list-cost" ng-model="price.newPrice" placeholder="{{price.price || price.conversion}}"/>
               <i class="fa fa-ils"></i>
        </span>
        {{price.name}}
      </li>
    </ul>

  </div>
  <div class="col-sm-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger">
        <span class="list-cost">{{calcOrderCost()}} <i class="fa fa-ils"></i></span>
        עלות כוללת
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <span class="list-cost">{{materialCost}} <i class="fa fa-ils"></i></span>
        עלות חומרים
      </li>
      <li class="list-group-item" ng-repeat="material in materials" ng-if="materialsCost[material._id]">
        <span class="list-cost">{{materialsCost[material._id]}} <i class="fa fa-ils"></i></span>
        עלות {{material.name}}
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{coatingCost}} <i class="fa fa-ils"></i></span>
        עלות ציפוי
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{elementFeatureCost}} <i class="fa fa-ils"></i></span>
        עלות תכונות נוספות
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{providerWorkCost}} <i class="fa fa-ils"></i></span>
        עלות עבודת ספק
      </li>
      <li class="list-group-item">
        <span class="list-cost">{{workCost}} <i class="fa fa-ils"></i></span>
        עלות השחלה
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <span class="list-cost">{{calcOrderWeight()}} גרם</span>
        משקל כולל
      </li>
      <li class="list-group-item" ng-repeat="material in materials" ng-if="materialsWeight[material._id]">
        <span class="list-cost">{{materialsWeight[material._id]}} גרם</span>
        משקל {{material.name}}
      </li>
    </ul>

  </div>

</form>

<div ng-include="'views/exports/quotation.html?v={{version}}'" class="export-table" title="הצעת מחיר"
     data-target="quotation" style="display: none"></div>
<div ng-include="'views/exports/order_confirmation.html?v={{version}}'" class="export-table" title="אישור הזמנה"
     data-target="order_confirmation" style="display: none"></div>
<div ng-include="'views/exports/invoice.html?v={{version}}'" class="export-table" title="חשבונית" data-target="invoice"
     style="display: none"></div>
<div ng-include="'views/exports/order_elements.html?v={{version}}'" class="export-table" title="פירוק לחומרי גלם"
     data-target="order_elements" style="display: none"></div>
<div ng-include="'views/exports/production_order.html?v={{version}}'" class="export-table" title="הזמנה למחלקת ייצור"
     data-target="production_order" style="display: none"></div>
<div ng-include="'views/exports/catalog.html?v={{version}}'" class="export-table" title="קטלוג ללקוח"
     data-target="catalog" style="display: none"></div>
<div ng-include="'views/exports/price_list.html?v={{version}}'" class="export-table" title="מחירון"
     data-target="price_list" style="display: none"></div>


