<h1>Users</h1>
<button class="btn btn-default" ng-click="addItem()">New User</button>
<ul class="media-list">
    <li class="media line" ng-repeat="item in items">
        <a class="pull-left thumbnail" ng-href="http://www.facebook.com/{{item.fb_id}}" target="_blank">
            <img class="media-object" ng-src="{{item.image}}?type=large" width="256"/>
        </a>
        <div class="media-body">
            <div class="media-wrapper input-group input-group-sm space" ng-repeat="(key, val) in item">
                <span class="input-group-addon">{{key}}</span>
                <input type="text" class="form-control" ng-model="item[key]" value="{{val}}"/>
            </div>
            <div class="media-wrapper btn-group space">
                <button class="btn btn-default" ng-click="updateItem($index)">SAVE</button>
                <button class="btn btn-default" ng-click="removeItem($index)">REMOVE</button>
            </div>
        </div>
    </li>
</ul>