<table id="exportTable">
  <tr class="ro9">
    <td style="text-align:left;width:0.9098in; " class="ce18"><p>TR-Designs</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="ce24"><p>יצוא ממסך הזמנה</p></td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce4"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce31"> </td>
    <td style="text-align:left;width:1.048in; " class="ce9"> </td>
    <td style="text-align:left;width:1.048in; " class="ce32"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Turkenich Jewellery ltd</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce29"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce32"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.048in; " class="ce32"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro8">
    <td style="text-align:left;width:0.9098in; " class="Default"><p> Alenby 94, Tel-Aviv, 65813. Israel.</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce29"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce32"> </td>
    <td style="text-align:left;width:1.048in; " class="ce34"><p>company </p>

      <p>Logo here</p></td>
    <td style="text-align:left;width:1.048in; " class="ce36"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Tel: 972-3-5660754, Fax: 972-3-5669830</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce29"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce32"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.048in; " class="ce32"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Email: info@tr-designs.biz</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce30"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce35"> </td>
    <td style="text-align:left;width:1.048in; " class="ce32"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
<tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="ce19"> </td>
    <td style="text-align:left;width:0.8992in; " class="ce19"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce19"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce19"> </td>
    <td style="text-align:left;width:1.4709in; " class="ce19"> </td>
    <td style="text-align:left;width:2.211in; " class="ce19"> </td>
    <td style="text-align:left;width:0.889in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7335in; " class="ce19"> </td>
    <td style="text-align:left;width:0.9634in; " class="ce19"> </td>
    <td style="text-align:left;width:0.952in; " class="ce19"> </td>
    <td style="text-align:left;width:1.2374in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7335in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7335in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7335in; " class="ce19"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce32"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"><span xmlns="" title="annotation" class="P1"><br/>[ANNOTATION:<br/><br/><span
      title="dc:date">ON '2015-05-26T00:00:00'</span><br/><span>NOTE: 'מחבר:'</span><br/><span>NOTE: '<span
      xmlns="http://www.w3.org/1999/xhtml" class="T1">ייצוא ממסך הזמנות</span>'</span>]</span>

      <p>Quotation No: <span class="T3">1</span></p></td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>date</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>currency</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>To:</p></td>
    <td style="text-align:left;width:0.8992in; " class="ce20"><p>Client name</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Trade mark</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"><p>Adress</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Costomer Po No.</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Shipping adress</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro8">
    <td style="text-align:right; width:0.9098in; " class="Default"><p>1</p></td>
    <td style="text-align:left;width:0.8992in; " class="ce22">
    </td>
    <td style="text-align:left;width:1.1535in; " class="ce1"><p>C501970</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce1"><p>צמיד מלא אגטים</p></td>
    <td style="text-align:left;width:1.4709in; " class="ce1"><p>silver bracelet agate</p></td>
    <td style="text-align:left;width:2.211in; " class="ce25"><span xmlns="" title="annotation" class="P3"><br/>[ANNOTATION:<br/><br/><span
      title="dc:date">ON '2015-05-26T00:00:00'</span><br/><span>NOTE: ' '</span>]</span>

      <p>סוג חומר של כל המתכות הנמצאות</p>

      <p>במודל. </p></td>
    <td style="text-align:left;width:0.889in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.7335in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.9634in; " class="ce8"><p>משקל נטו כסף</p></td>
    <td style="text-align:left;width:0.952in; " class="ce8"><p>משקל נטו פליז</p></td>
    <td style="text-align:left;width:1.2374in; " class="ce8"><p>משקל נטו גולדפילד</p></td>
    <td style="text-align:left;width:0.7335in; " class="ce28"><span xmlns="" title="annotation" class="P1"><br/>[ANNOTATION:<br/><br/><span
      title="dc:date">ON '2015-05-26T00:00:00'</span><br/><span>NOTE: 'מחבר:'</span><br/><span>NOTE: '<span
      xmlns="http://www.w3.org/1999/xhtml"
      class="T1">יצוא ממחיר מכירה / שער הדולר המעודכן במסמך</span>'</span>]</span>

      <p>מחיר מכירה בדולרים</p></td>
    <td style="text-align:left;width:0.7335in; " class="ce1"><p>מחיר מכירה</p></td>
    <td style="text-align:left;width:0.7335in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.6346in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.6346in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:1.048in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:1.048in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:right; width:0.9098in; " class="Default"><p>2</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:right; width:0.9098in; " class="Default"><p>3</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce1"><span xmlns="" title="annotation" class="P1"><br/>[ANNOTATION:<br/><br/><span
      title="dc:date">ON '2015-05-26T00:00:00'</span><br/><span>NOTE: 'מחבר:'</span><br/><span>NOTE: '<span
      xmlns="http://www.w3.org/1999/xhtml" class="T1">סהכ משקל ברוטו של כל הדגמים</span>'</span>]</span>

      <p>Total weight</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"><p>Note</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Total before Vat :</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p> VAT :</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Total Payment :</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Payment date </p></td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:0.7335in; " class="Default"> </td>
  </tr>
  <!--    <tr class="ro2">
      <td style="text-align:left;width:0.9098in; " class="Default"> </td>
      <td style="text-align:left;width:0.8992in; " class="Default"> </td>
      <td style="text-align:left;width:1.1535in; " class="Default"> </td>
      <td style="text-align:left;width:1.1535in; " class="Default"> </td>
      <td style="text-align:left;width:1.4709in; " class="Default"> </td>
      <td style="text-align:left;width:2.211in; " class="Default"> </td>
      <td style="text-align:left;width:0.889in; " class="Default"> </td>
      <td style="text-align:left;width:0.7335in; " class="Default"> </td>
      <td style="text-align:left;width:0.9634in; " class="Default"> </td>
      <td style="text-align:left;width:0.952in; " class="Default"> </td>
      <td style="text-align:left;width:1.2374in; " class="Default"> </td>
      <td style="text-align:left;width:0.7335in; " class="Default"> </td>
      <td style="text-align:left;width:0.7335in; " class="Default"> </td>
      <td style="text-align:left;width:0.7335in; " class="Default"> </td>
      <td style="text-align:left;width:0.6346in; " class="Default"> </td>
      <td style="text-align:left;width:0.6346in; " class="Default"> </td>
      <td style="text-align:left;width:1.048in; " class="Default"> </td>
      <td style="text-align:left;width:1.048in; " class="Default"> </td>
      <td style="text-align:left;width:0.7335in; " class="Default"> </td>
    </tr>-->
</table>
