<table border="0" cellspacing="0" cellpadding="0" class="export" id="catalog">
  <colgroup>
    <col width="20"/>
    <col width="211"/>
    <col width="466"/>
    <col width="142"/>
    <col width="176"/>
    <col width="466"/>
    <col width="178"/>
    <col width="121"/>
    <col width="158"/>
    <col width="140"/>
    <col width="387"/>
    <col width="146"/>
    <col width="95"/>
  </colgroup>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"><p>date</p></td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro3">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="ce1"><p>TR-Designs</p></td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="ce35">=image("https://turkenich.herokuapp.com/images/logo.jpg",1)</td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"><p>Turkenich Jewellery ltd</p></td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.2807in; " class="Default"> </td>
    <td style="text-align:left;width:1.5882in; " class="Default"> </td>
    <td style="text-align:left;width:4.198in; " class="Default"> </td>
    <td style="text-align:left;width:1.6047in; " class="Default"> </td>
    <td style="text-align:left;width:1.0862in; " class="Default"> </td>
    <td style="text-align:left;width:1.4256in; " class="Default"> </td>
    <td style="text-align:left;width:1.2638in; " class="Default"> </td>
    <td style="text-align:left;width:3.4846in; " class="Default"> </td>
    <td style="text-align:left;width:1.3134in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="Default"> </td>
    <td style="text-align:left;width:1.8965in; " class="Default"><p>Item #</p></td>
    <td style="text-align:left;width:4.198in; " class="Default"><p>Photo</p></td>
    <td style="text-align:left;width:1.2807in; " class="Default"><p>Descripition</p></td>
    <td style="text-align:left;width:1.5882in; " class="Default"><p>תיאור בעברית</p></td>
    <td style="text-align:left;width:4.198in; " class="ce4"><p>stones</p></td>
    <td style="text-align:left;width:1.6047in; " class="ce4"><p>silver weight</p></td>
    <td style="text-align:left;width:1.0862in; " class="ce4"><p>brass weight</p></td>
    <td style="text-align:left;width:1.4256in; " class="ce4"><p>gold filled weight</p></td>
    <td style="text-align:left;width:1.2638in; " class="ce4"><p>gross weight</p></td>
    <td style="text-align:left;width:3.4846in; " class="Default"><p>US  $ price</p></td>
    <td style="text-align:left;width:1.3134in; " class="Default"><p>מחיר מכירה</p></td>
    <td style="text-align:left;width:0.8591in; " class="Default"><p>discount</p></td>
  </tr>
  <tr class="ro4" ng-repeat="i in models">
    <td style="text-align:right; width:0.1783in; " class="Default"><p>{{$index+1}}</p></td>
    <td style="text-align:left;width:1.8965in; " class="ce2"><p>{{i.name}}</p></td>
    <td style="text-align:left;width:4.198in; " class="Default"><p>=image("{{i.image}}",1)</p></td>
    <td style="text-align:left;width:1.2807in; " class="ce3"><p>{{i.engDesc}}</p></td>
    <td style="text-align:left;width:1.5882in; " class="ce3"><p>{{i.desc}}</p></td>
    <td style="text-align:left;width:4.198in; " class="ce3"><p>{{i.stones}}</p></td>
    <td style="text-align:left;width:1.6047in; " class="ce3"><p>{{getFromJson(i.weights, 'כסף')}}</p></td>
    <td style="text-align:left;width:1.0862in; " class="ce5"><p>{{getFromJson(i.weights, 'פליז')}}</span></p></td>
    <td style="text-align:left;width:1.4256in; " class="ce5"><p>{{getFromJson(i.weights, 'גולדפילד')}}</span></p></td>
    <td style="text-align:left;width:1.2638in; " class="ce2"><p>{{i.weight}}</p></td>
    <td style="text-align:left;width:3.4846in; " class="ce5"><p>{{getFromJson(i.costs, 'USD')}}</p></td>
    <td style="text-align:left;width:1.3134in; " class="ce5"><p>{{getFromJson(i.costs, 'ILS')}}</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce6"><p>ידני</p></td>
  </tr>
</table>
