<table border="0" cellspacing="0" cellpadding="0" class="export" id="element_line">
  <tr class="ro11">
    <td style="text-align:left;width:1.0217in; " class="ce40">=image("{{item.image}}",1)</td>
    <td style="text-align:left;width:1.5563in; " class="ce8"><p>{{item.code}}</p></td>
    <td style="text-align:left;width:1.5563in; " class="ce1"><p>{{item.desc}}</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce1"><p>{{item.engDesc}}</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce1"><p>{{item.providerCatalog}}</p></td>
    <td style="text-align:left;width:1.5228in; " class="ce2"><p>1</p></td>
    <td style="text-align:left;width:1.5228in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.8591in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.8591in; " class="ce2"><p></p></td>
    <td style="text-align:right; width:1.1508in; " class="ce46"><p>{{calcElementCost()}}</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce1"><p>=OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-1) * OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-5)</p></td>
  </tr>
</table>
