<table border="0" cellspacing="0" cellpadding="0" class="export" id="order_confirmation_short">
  <colgroup>
    <col width="101"/>
    <col width="100"/>
    <col width="128"/>
    <col width="128"/>
    <col width="163"/>
    <col width="245"/>
    <col width="176"/>
    <col width="81"/>
    <col width="107"/>
    <col width="106"/>
    <col width="137"/>
    <col width="81"/>
    <col width="81"/>
    <col width="81"/>
    <col width="70"/>
    <col width="70"/>
    <col width="116"/>
    <col width="116"/>
    <col width="150"/>
    <col width="81"/>
  </colgroup>
  <tr class="ro12">
    <td style="text-align:left;width:0.9098in; " class="ce18"><p>TR-Designs</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="ce24"></td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce4"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce32"> </td>
    <td style="text-align:left;width:1.048in; " class="ce9"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Turkenich Jewellery ltd</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce30"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce33"> </td>
    <td style="text-align:left;width:1.048in; " class="ce34"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro8">
    <td style="text-align:left;width:0.9098in; " class="Default"><p> Alenby 94, Tel-Aviv, 65813. Israel.</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce30"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce33"> </td>
    <td style="text-align:left;width:1.048in; " class="ce35">=image("https://turkenich.herokuapp.com/images/logo.jpg",1)</td>
    <td style="text-align:left;width:1.048in; " class="ce37"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Tel: 972-3-5660754, Fax: 972-3-5669830</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce30"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce33"> </td>
    <td style="text-align:left;width:1.048in; " class="ce34"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Email: info@tr-designs.biz</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce31"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce36"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="ce19"> </td>
    <td style="text-align:left;width:0.8992in; " class="ce19"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce19"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce19"> </td>
    <td style="text-align:left;width:1.4709in; " class="ce19"> </td>
    <td style="text-align:left;width:2.211in; " class="ce19"> </td>
    <td style="text-align:left;width:1.5866in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7291in; " class="ce19"> </td>
    <td style="text-align:left;width:0.9634in; " class="ce19"> </td>
    <td style="text-align:left;width:0.952in; " class="ce19"> </td>
    <td style="text-align:left;width:1.2374in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7291in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7291in; " class="ce19"> </td>
    <td style="text-align:left;width:0.7291in; " class="ce19"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:0.6346in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce19"> </td>
    <td style="text-align:left;width:1.048in; " class="ce33"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"><p>Order Confirmation    </p></td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>date</p></td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>currency</p></td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>To:</p></td>
    <td style="text-align:left;width:0.8992in; " class="ce20"><p>Client name</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Trade mark</p></td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"><p>Address</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"><p>Costumer Po No.</p></td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>Shipping address</p></td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro11">
    <td style="text-align:left;width:0.9098in; " class="Default"><p>No</p></td>
    <td style="text-align:left;width:0.8992in; " class="ce21"><p>Picture</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce21">Supplier Item No.</td>
    <td style="text-align:left;width:0.7291in; " class="ce21"><p>Quantity</p></td>
    <td style="text-align:left;width:1.4709in; " class="ce21"><p>Description</p></td>
    <td style="text-align:left;width:1.5866in; " class="ce21"><p>Length/Size</p></td>
    <td style="text-align:left;width:0.7291in; " class="ce28"><p>Item Price (USD)</td>
    <td style="text-align:left;width:0.7291in; " class="ce28"><p>Item Price (ILS)</td>
    <td style="text-align:left;width:0.7291in; " class="ce28"><p>Trade mark</p></td>
    <td style="text-align:left;width:1.048in; " class="ce28"><p>Total</p></td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro10" ng-repeat="i in models">
    <td style="text-align:right; width:0.9098in; " class="Default"><p>{{$index + 1}}</p></td>
    <td style="text-align:left;width:0.8992in; " class="ce22">=image("{{i.image}}",1)</td>
    <td style="text-align:left;width:1.1535in; " class="ce1"><p>{{i.name}}</p></td>
    <td style="text-align:left;width:0.7291in; " class="ce2">{{i.amount}}</td>
    <td style="text-align:left;width:1.4709in; " class="ce1"><p>{{i.endDesc}}</p></td>
    <td style="text-align:left;width:0.889in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:0.7291in; " class="ce29">{{i.salePriceUSD}}</td>
    <td style="text-align:left;width:0.7291in; " class="ce1"><p>{{i.salePrice}}</p></td>
    <td style="text-align:left;width:1.048in; " class="ce2"><p></p></td>
    <td style="text-align:left;width:1.048in; " class="ce2"><p>{{i.salePriceUSD *  i.amount}}</p></td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro13">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="ce20"><p>Total weight</p></td>
    <td style="text-align:left;width:0.6346in; " class="Default">{{calcOrderGross()}}</td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="ce40"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="ce40"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="ce38"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"><p>Total before Vat :</p></td>
    <td style="text-align:left;width:1.3543in; " class="ce23"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"><p> VAT :</p></td>
    <td style="text-align:left;width:1.3543in; " class="ce23"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"><p>Note</p></td>
    <td style="text-align:left;width:1.1535in; " class="ce23"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"><p>Total Payment :</p></td>
    <td style="text-align:left;width:1.3543in; " class="ce23"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"><p>Payment date </p></td>
    <td style="text-align:left;width:1.3543in; " class="ce23"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:0.9098in; " class="Default"> </td>
    <td style="text-align:left;width:0.8992in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.1535in; " class="Default"> </td>
    <td style="text-align:left;width:1.4709in; " class="Default"> </td>
    <td style="text-align:left;width:2.211in; " class="Default"> </td>
    <td style="text-align:left;width:1.5866in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.9634in; " class="Default"> </td>
    <td style="text-align:left;width:0.952in; " class="Default"> </td>
    <td style="text-align:left;width:1.2374in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:0.6346in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.048in; " class="Default"> </td>
    <td style="text-align:left;width:1.3543in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
</table>
