<table border="0" cellspacing="0" cellpadding="0" class="export" id="order_elements">
  <colgroup>
    <col width="20"/>
    <col width="228"/>
    <col width="187"/>
    <col width="264"/>
    <col width="192"/>
    <col width="192"/>
    <col width="212"/>
    <col width="126"/>
    <col width="417"/>
    <col width="417"/>
    <col width="358"/>
    <col width="358"/>
    <col width="95"/>
  </colgroup>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce156"><p>פירוק לחומרי גלם</p></td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce163"></td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce156"><p>תאריך</p></td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce163"></td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="Default"> </td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td colspan="6" style="text-align:left;width:2.0583in; " class="ce157"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="Default"> </td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce161"><p>{{item.desc}}</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce164"><p>תיאור ההזמנה</p></td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce158"> </td>
    <td style="text-align:left;width:1.6854in; " class="ce160"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce162"><p>{{item.name}}</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce165"><p>קוד ההזמנה</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce160"> </td>
    <td style="text-align:left;width:1.9126in; " class="ce160"> </td>
    <td style="text-align:left;width:1.1339in; " class="ce160"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce160"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce160"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="Default"> </td>
    <td style="text-align:left;width:1.6854in; " class="ce156"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce156"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce156"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce156"> </td>
    <td style="text-align:left;width:1.9126in; " class="ce156"> </td>
    <td style="text-align:left;width:1.1339in; " class="ce156"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce156"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce156"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="Default"> </td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="Default"> </td>
    <td style="text-align:left;width:1.6854in; " class="Default"> </td>
    <td style="text-align:left;width:2.3827in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.7339in; " class="Default"> </td>
    <td style="text-align:left;width:1.9126in; " class="Default"> </td>
    <td style="text-align:left;width:1.1339in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.7598in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:3.2252in; " class="Default"> </td>
    <td style="text-align:left;width:0.8591in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce47"><p>תמונה</p></td>
    <td style="text-align:left;width:1.6854in; " class="ce47"><p>שם</p></td>
    <td style="text-align:left;width:2.3827in; " class="ce47"><p>תיאור</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce47"><p>תיאור באנגלית</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce47"><p>ספק</p></td>
    <td style="text-align:left;width:1.9126in; " class="ce47"><p>מקט לפי הספק</p></td>
    <td style="text-align:left;width:1.1339in; " class="ce47"><p>תאור לפי הספק</p></td>
    <td style="text-align:left;width:3.7598in; " class="ce47"><p>הערות</p></td>
    <td style="text-align:left;width:3.7598in; " class="ce47"><p>איך הספק מתמחר עבודה</p></td>
    <td style="text-align:left;width:3.2252in; " class="ce166"><p>משקל בגרם</p></td>
    <td style="text-align:left;width:3.2252in; " class="ce47"><p>מוקם בדגם לפי</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce47"><p>כמות</p></td>
  </tr>
  <tr class="ro2" ng-repeat="i in elements | orderBy:['elementType','name'] ">
    <td style="text-align:left;width:0.1783in; " class="ce47">{{$index+1}}</td>
    <td style="text-align:left;width:2.0583in; " class="ce47"><p>=image("{{i.image}}",1)</p></td>
    <td style="text-align:left;width:1.6854in; " class="ce161"><p>{{i.name}}</p></td>
    <td style="text-align:left;width:2.3827in; " class="ce161"><p>{{i.desc}}</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce161"><p>{{i.engDesc}}</p></td>
    <td style="text-align:left;width:1.7339in; " class="ce161"><p>{{providers.findById(i.provider).name}}</p></td>
    <td style="text-align:left;width:1.9126in; " class="ce156"><p>{{i.providerCatalog}}</p></td>
    <td style="text-align:left;width:1.1339in; " class="ce156"><p>{{i.providerDesc}}</p></td>
    <td style="text-align:left;width:3.7598in; " class="ce161"><p>{{i.comments}}</p></td>
    <td style="text-align:left;width:3.7598in; " class="ce161"><p>{{i.providerWorkUnit}}</p></td>
    <td style="text-align:left;width:3.2252in; " class="ce156"><p>{{i.amount * i.measureUnitWeight}}</p></td>
    <td style="text-align:left;width:3.2252in; " class="ce156"><p>{{i.workUnit}}</p></td>
    <td style="text-align:left;width:0.8591in; " class="ce156"><p>{{i.amount}}</p></td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce47"> </td>
    <td style="text-align:left;width:1.6854in; " class="ce47"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.9126in; " class="ce47"> </td>
    <td style="text-align:left;width:1.1339in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce156"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:0.8591in; " class="ce47"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce47"> </td>
    <td style="text-align:left;width:1.6854in; " class="ce47"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.9126in; " class="ce47"> </td>
    <td style="text-align:left;width:1.1339in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce47"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:0.8591in; " class="ce47"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.1783in; " class="ce47"> </td>
    <td style="text-align:left;width:2.0583in; " class="ce47"> </td>
    <td style="text-align:left;width:1.6854in; " class="ce47"> </td>
    <td style="text-align:left;width:2.3827in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.7339in; " class="ce47"> </td>
    <td style="text-align:left;width:1.9126in; " class="ce47"> </td>
    <td style="text-align:left;width:1.1339in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce47"> </td>
    <td style="text-align:left;width:3.7598in; " class="ce47"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:3.2252in; " class="ce47"> </td>
    <td style="text-align:left;width:0.8591in; " class="ce47"> </td>
  </tr>
</table>
