<table border="0" cellspacing="0" cellpadding="0" class="export" id="price_list">
  <colgroup>
    <col width="62"/>
    <col width="47"/>
    <col width="182"/>
    <col width="59"/>
    <col width="163"/>
    <col width="36"/>
    <col width="111"/>
    <col width="100"/>
    <col width="62"/>
    <col width="75"/>
    <col width="143"/>
    <col width="149"/>
    <col width="99"/>
    <col width="190"/>
    <col width="66"/>
    <col width="66"/>
    <col width="87"/>
    <col width="142"/>
    <col width="99"/>
  </colgroup>
  <tr class="ro13">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="ce24"><p></p></td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro13">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro14">
    <td style="text-align:left;width:0.5602in; " class="ce54"> </td>
    <td style="text-align:left;width:0.4217in; " class="ce54"> </td>
    <td style="text-align:left;width:1.6437in; " class="ce58"><p>Date:</p></td>
    <td style="text-align:left;width:0.5283in; " class="ce58"> </td>
    <td style="text-align:left;width:1.472in; " class="ce58"> </td>
    <td style="text-align:left;width:0.3252in; " class="ce65"> </td>
    <td style="text-align:left;width:1in; " class="ce70"><p> Market: </p></td>
    <td style="text-align:right; width:0.9035in; " class="ce74"><p> $18.00 </p></td>
    <td style="text-align:left;width:0.5602in; " class="ce78"><p>Loss</p></td>
    <td style="text-align:right; width:0.6783in; " class="ce81"><p>5.0%</p></td>
    <td style="text-align:left;width:1.2898in; " class="ce59"> </td>
    <td style="text-align:left;width:1.3429in; " class="ce85"> </td>
    <td style="text-align:left;width:0.889in; " class="ce89"> </td>
    <td style="text-align:left;width:1.7075in; " class="ce93"> </td>
    <td style="text-align:left;width:0.5929in; " class="ce98"> </td>
    <td style="text-align:left;width:0.5929in; " class="ce98"> </td>
    <td style="text-align:left;width:0.7862in; " class="ce85"> </td>
    <td style="text-align:left;width:1.2791in; " class="ce85"> </td>
    <td style="text-align:left;width:0.889in; " class="ce54"> </td>
  </tr>
  <tr class="ro15">
    <td style="text-align:left;width:0.5602in; " class="ce54"> </td>
    <td style="text-align:left;width:0.4217in; " class="ce54"> </td>
    <td style="text-align:left;width:1.6437in; " class="ce59"> </td>
    <td style="text-align:left;width:0.5283in; " class="ce59"> </td>
    <td style="text-align:left;width:1.472in; " class="ce59"> </td>
    <td style="text-align:left;width:0.3252in; " class="ce66"> </td>
    <td colspan="7" style="text-align:left;width:1in; " class="ce71"><p> Metal Info </p></td>
    <td style="text-align:left;width:1.7075in; " class="ce94"> </td>
    <td colspan="3" style="text-align:left;width:0.5929in; " class="ce71"><p> Labor Info </p></td>
    <td style="text-align:left;width:1.2791in; " class="ce105"> </td>
    <td style="text-align:left;width:0.889in; " class="ce108"> </td>
  </tr>
  <tr class="ro16">
    <td style="text-align:left;width:0.5602in; " class="ce55"><p>אונקיה</p></td>
    <td style="text-align:left;width:0.4217in; " class="ce55"><p>פחת</p></td>
    <td style="text-align:left;width:1.6437in; " class="ce60"><p>קוד</p></td>
    <td style="text-align:left;width:0.5283in; " class="ce63"><p>תמונה</p></td>
    <td style="text-align:left;width:1.472in; " class="ce63"><p>תיאור</p></td>
    <td style="text-align:left;width:0.3252in; " class="ce67"><p>מידה</p></td>
    <td style="text-align:left;width:1in; " class="ce72"><p> משקל כסף נטו </p></td>
    <td style="text-align:left;width:0.9035in; " class="ce76"><p> משקל  ברוטו </p></td>
    <td style="text-align:left;width:0.5602in; " class="ce79"><p>פחת כסף</p></td>
    <td style="text-align:left;width:0.6783in; " class="ce76"><p> מחיר אונקיה ב$ </p></td>
    <td style="text-align:left;width:1.2898in; " class="ce83"><p>מחיר כסף לגרם</p></td>
    <td style="text-align:left;width:1.3429in; " class="ce86"><p>עלות כסף </p>

      <p>לתכשיט</p></td>
    <td style="text-align:left;width:0.889in; " class="ce90"><p> Increment  Calc</p></td>
    <td style="text-align:left;width:1.7075in; " class="ce95"><p> סהכ מחיר אבנים </p></td>
    <td style="text-align:left;width:0.5929in; " class="ce99"><p>עלות יציקה</p>

      <p>לגרם</p></td>
    <td style="text-align:left;width:0.5929in; " class="ce99"><p> רווח שלנו </p></td>
    <td style="text-align:left;width:0.7862in; " class="ce103"><p>עלות עבודה שלנו</p></td>
    <td style="text-align:left;width:1.2791in; " class="ce106"><p>מחיר מכירת תכשיט</p></td>
    <td style="text-align:left;width:0.889in; " class="ce109"> </td>
  </tr>
  <tr class="ro17" ng-repeat="i in models">
    <td style="text-align:right; width:0.5602in; " class="ce56"><p>18</p></td>
    <td style="text-align:right; width:0.4217in; " class="ce57"><p>5%</p></td>
    <td style="text-align:left;width:1.6437in; " class="ce61"><p>{{i.name}}</p></td>
    <td style="text-align:left;width:0.5283in; " class="ce61">=image("{{i.image}}",1)</td>
    <td style="text-align:left;width:1.472in; " class="ce61"><p>{{i.engDesc}}</p></td>
    <td style="text-align:left;width:0.3252in; " class="ce68"><p></p></td>
    <td style="text-align:right; width:1in; " class="ce73"><p>{{getFromJson(i.weights, 'כסף')}}</p></td>
    <td style="text-align:right; width:0.9035in; " class="ce77"><p>{{i.weight}}</p></td>
    <td style="text-align:right; width:0.5602in; " class="ce80"><p>5%</p></td>
    <td style="text-align:right; width:0.6783in; " class="ce82"><p> $18.00 </p></td>
    <td style="text-align:right; width:1.2898in; " class="ce84"><p> $0.56 </p></td>
    <td style="text-align:left;width:1.3429in; " class="ce87"><p>=OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-1) *
      OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-5)</p></td>
    <td style="text-align:left;width:0.889in; " class="ce91"><p>=OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-2) *
      OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-6) / OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-3)</td>
    <td style="text-align:left;width:1.7075in; " class="ce96"><p>{{getFromJson(i.eTypesCosts, 'אבנים') || getFromJson(i.eTypesCosts, 'אבן')}}</p></td>
    <td style="text-align:right; width:0.5929in; " class="ce100"><p> $0.25 </p></td>
    <td style="text-align:right; width:0.5929in; " class="ce101"><p> $5.00 </p></td>
    <td style="text-align:right; width:0.7862in; " class="ce104"><p> $5.25 </p></td>
    <td style="text-align:left;width:1.2791in; " class="ce107"><p>=OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-1) +
      OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-4) + OFFSET(INDIRECT(ADDRESS(ROW(), COLUMN())),0,-6)</p></td>
    <td style="text-align:left;width:0.889in; " class="ce109"> </td>
  </tr>
  <tr class="ro17">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="ce62"> </td>
    <td style="text-align:left;width:0.5283in; " class="ce64"> </td>
    <td style="text-align:left;width:1.472in; " class="ce64"> </td>
    <td style="text-align:left;width:0.3252in; " class="ce69"> </td>
    <td style="text-align:left;width:1in; " class="ce69"> </td>
    <td style="text-align:left;width:0.9035in; " class="ce69"> </td>
    <td style="text-align:left;width:0.5602in; " class="ce69"> </td>
    <td style="text-align:left;width:0.6783in; " class="ce69"> </td>
    <td style="text-align:left;width:1.2898in; " class="ce69"> </td>
    <td style="text-align:left;width:1.3429in; " class="ce88"> </td>
    <td style="text-align:left;width:0.889in; " class="ce92"> </td>
    <td style="text-align:left;width:1.7075in; " class="ce97"> </td>
    <td style="text-align:left;width:0.5929in; " class="ce97"> </td>
    <td style="text-align:left;width:0.5929in; " class="ce97"> </td>
    <td style="text-align:left;width:0.7862in; " class="ce97"> </td>
    <td style="text-align:left;width:1.2791in; " class="ce97"> </td>
    <td style="text-align:left;width:0.889in; " class="ce109"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro13">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro13">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro13">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.4217in; " class="Default"> </td>
    <td style="text-align:left;width:1.6437in; " class="Default"> </td>
    <td style="text-align:left;width:0.5283in; " class="Default"> </td>
    <td style="text-align:left;width:1.472in; " class="Default"> </td>
    <td style="text-align:left;width:0.3252in; " class="Default"> </td>
    <td style="text-align:left;width:1in; " class="Default"> </td>
    <td style="text-align:left;width:0.9035in; " class="Default"> </td>
    <td style="text-align:left;width:0.5602in; " class="Default"> </td>
    <td style="text-align:left;width:0.6783in; " class="Default"> </td>
    <td style="text-align:left;width:1.2898in; " class="Default"> </td>
    <td style="text-align:left;width:1.3429in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
    <td style="text-align:left;width:1.7075in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.5929in; " class="Default"> </td>
    <td style="text-align:left;width:0.7862in; " class="Default"> </td>
    <td style="text-align:left;width:1.2791in; " class="Default"> </td>
    <td style="text-align:left;width:0.889in; " class="Default"> </td>
  </tr>
</table>

