<table border="0" cellspacing="0" cellpadding="0" class="export" id="reduced_production_card">
  <colgroup>
    <col width="172"/>
    <col width="169"/>
    <col width="105"/>
    <col width="206"/>
    <col width="206"/>
    <col width="90"/>
    <col width="262"/>
    <col width="78"/>
    <col width="153"/>
    <col width="36"/>
    <col width="153"/>
    <col width="81"/>
  </colgroup>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="Default"> </td>
    <td style="text-align:left;width:1.5236in; " class="Default"> </td>
    <td style="text-align:left;width:0.9417in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:0.8146in; " class="Default"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="Default"> </td>
    <td style="text-align:left;width:1.5236in; " class="Default"> </td>
    <td style="text-align:left;width:0.9417in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce17"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:0.8146in; " class="Default"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce4"><p>קוד</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce168"><p>{{item.name}}</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce32"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce32"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce32"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce9"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>תאריך יציאה</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce169"><p></p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"><p>תאריך אישור </p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"><p></p></td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>כמות הזמנה</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce169"><p></p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>ארץ</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce169"><p></p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce172"><p>דולר</p></td>
    <td style="text-align:left;width:1.8516in; " class="ce1"><p>{{pricesByName['דולר']}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>חול</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce169"><p></p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce172"><p>אונקיה</p></td>
    <td style="text-align:left;width:1.8516in; " class="ce1"><p>{{pricesByName['כסף']}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"> </td>
    <td style="text-align:left;width:1.5236in; " class="ce33"> </td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce172"><p>נטו</p></td>
    <td style="text-align:left;width:1.8516in; " class="ce1"><p>{{calcModelWeight()}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>תיאור</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce170"><p>{{item.desc}}</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce172"><p>ברוטו</p></td>
    <td style="text-align:left;width:1.8516in; " class="ce1"><p>{{item.weight}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>הערות</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce170"><p>{{item.comments}}</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce20"><p>זהד</p></td>
    <td style="text-align:left;width:1.8516in; " class="ce1"><p>{{item.requiredTime}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"><p>סטים</p></td>
    <td style="text-align:left;width:1.5236in; " class="ce33"><p>{{item.sets}}</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce173"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce174"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"> </td>
    <td style="text-align:left;width:1.5236in; " class="ce33"> </td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce174"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"> </td>
    <td style="text-align:left;width:1.5236in; " class="ce33"> </td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce34"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce30"> </td>
    <td style="text-align:left;width:1.5236in; " class="ce33"> </td>
    <td style="text-align:left;width:0.9417in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce33"><p>עלות כוללת  </p></td>
    <td style="text-align:left;width:0.8146in; " class="ce174"><p>{{calcModelCost()}}</p></td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce31"> </td>
    <td style="text-align:left;width:1.5236in; " class="ce19"> </td>
    <td style="text-align:left;width:0.9417in; " class="ce19"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce19"> </td>
    <td style="text-align:left;width:1.8516in; " class="ce19"> </td>
    <td style="text-align:left;width:0.8146in; " class="ce36"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="Default"> </td>
    <td style="text-align:left;width:1.5236in; " class="Default"> </td>
    <td style="text-align:left;width:0.9417in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:0.8146in; " class="Default"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:left;width:1.5453in; " class="ce33"><p>מפרט טכני</p></td>
    <td style="text-align:left;width:1.5236in; " class="Default"> </td>
    <td style="text-align:left;width:0.9417in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:1.8516in; " class="Default"> </td>
    <td style="text-align:left;width:0.8146in; " class="Default"> </td>
    <td style="text-align:left;width:2.3598in; " class="Default"> </td>
    <td style="text-align:left;width:0.6984in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.328in; " class="Default"> </td>
    <td style="text-align:left;width:1.3756in; " class="Default"> </td>
    <td style="text-align:left;width:0.7291in; " class="Default"> </td>
  </tr>
  <tr class="ro2">
    <td style="text-align:left;width:1.5236in; " class="ce171"><p>תיאור</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce171"><p>ספק</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce171"><p>מקט ספק</p></td>
    <td style="text-align:left;width:2.3598in; " class="ce32"><p>חומר</p></td>
    <td style="text-align:left;width:1.3756in; " class="ce32"><p>הערות</p></td>
    <td style="text-align:left;width:0.7291in; " class="ce32"><p>כמות</p></td>
    <td style="text-align:left;width:0.6984in; " class="ce32"><p></p></td>
    <td style="text-align:left;width:1.5453in; " class="ce166"><p></p></td>
    <td style="text-align:left;width:1.8516in; " class="ce171"><p></p></td>
    <td style="text-align:left;width:1.8516in; " class="ce171"><p></p></td>
    <td style="text-align:left;width:1.3756in; " class="ce32"><p></p></td>
    <td style="text-align:left;width:0.328in; " class="ce32"><p></p></td>
  </tr>
  <tr class="ro2" ng-repeat="i in elements | orderBy:['elementType','name'] ">
    <td style="text-align:left;width:1.5236in; " class="ce170"><p>{{i.desc}}</p></td>
    <td style="text-align:left;width:0.9417in; " class="ce170"><p>{{providers.findById(i.provider).name}}</p></td>
    <td style="text-align:left;width:0.8146in; " class="ce170"><p>{{i.providerCatalog}}</p></td>
    <td style="text-align:left;width:2.3598in; " class="ce170"><p>{{materials.findById(i.material).name}}</p></td>
    <td style="text-align:left;width:1.3756in; " class="ce170"><p>{{i.comments}}</p></td>
    <td style="text-align:right; width:0.7291in; " class="ce170"><p>{{i.amount}}</p></td>
    <td style="text-align:right; width:1.8516in; " class="ce170"><p></p></td>
    <td style="text-align:left;width:1.8516in; " class="ce170"><p></p></td>
    <td style="text-align:left;width:1.5453in; " class="ce167"><p></p></td>
    <td style="text-align:left;width:0.6984in; " class="ce170"></td>
    <td style="text-align:left;width:1.3756in; " class="ce170"></td>
    <td style="text-align:right; width:0.328in; " class="ce170"><p></p></td>
  </tr>
</table>
